__pycache__
*.pyc
build

document/src/**/*.aux
document/src/**/*.log
document/src/**/*.out
document/src/**/*.pdf
document/src/**/*.toc
document/src/**/*.gz
document/src/**/*.fdb_latexmk
document/src/**/*.fls
document/src/**/*.bbl
document/src/**/*.blg

presentation/src/**/*.aux
presentation/src/**/*.log
presentation/src/**/*.out
presentation/src/**/*.pdf
presentation/src/**/*.toc
presentation/src/**/*.gz
presentation/src/**/*.fdb_latexmk
presentation/src/**/*.fls
presentation/src/**/*.bbl
presentation/src/**/*.blg
presentation/src/**/*.nav
presentation/src/**/*.snm

speaker_notes/src/**/*.aux
speaker_notes/src/**/*.log
speaker_notes/src/**/*.out
speaker_notes/src/**/*.pdf
speaker_notes/src/**/*.toc
speaker_notes/src/**/*.gz
speaker_notes/src/**/*.fdb_latexmk
speaker_notes/src/**/*.fls
speaker_notes/src/**/*.bbl
speaker_notes/src/**/*.blg
speaker_notes/src/**/*.nav
speaker_notes/src/**/*.snm

**/*(busy)*
