__pycache__
*.pyc
build

document/src/**/*.aux
document/src/**/*.log
document/src/**/*.out
document/src/**/*.pdf
document/src/**/*.toc
document/src/**/*.gz
document/src/**/*.fdb_latexmk
document/src/**/*.fls
document/src/**/*.bbl
document/src/**/*.blg

**/*(busy)*
